/.git*                      export-ignore
/docs/                      export-ignore
/tests/                     export-ignore
/.php-cs-fixer*             export-ignore
/phpstan*                   export-ignore
/phpunit*                   export-ignore
